sapp_mapcycle 1
dns halo.macgamingmods.com
collect_aliases 1 0
no_lead 1
log 1
log_name sapp
;log_rotation 1000000
antihalofp 0
lua 1
afk_kick #{server.afk_kick.to_i}
ping_kick #{server.ping_kick.to_i}
save_scores #{server.save_scores.to_i}
spawn_protection #{server.spawn_protection.to_i}
anticaps #{server.anti_caps.to_i}
antispam #{server.anti_spam.to_i}
;remote_console_port #{server.port}
;remote_console 1
;lua_load sprinting
;lua_load night
;lua_load redvsblue
;aimbot_ban 20000 3